@using MenOFVarna.Data.Models;
@model IEnumerable<Picture>

<h2>All Pictures</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Picture picture in this.Model)
        {
            <tr>
                <td>@picture.Title</td>
                <td>@picture.Author</td>
                <td>@picture.Description</td>
                
                <td>
                    <a asp-action="Details" asp-route-id="@picture.Id" class="btn btn-info">Details</a>

                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <form asp-controller="Watchlist" asp-action="AddToWatchlist" method="post" class="d-inline">
                            <input type="hidden" name="movieId" value="@picture.Id" />
                            <button type="submit" class="btn btn-warning">+Watchlist</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Add new picture</a>